<template name = "gal">
	<style>

		.row {
			text-align: center;
		}

		img {
			width: 100%;
			margin: 20px 0;
		}


	</style>

	<div class="row">
		<div class="col-md-4 col-sm-12">
			<img src="./img/gallery/michaelche.jpg">
		</div>
		<div class="col-md-4 col-sm-12">
			<img src="./img/gallery/chrisgethard.jpg">
		</div>
		<div class="col-md-4 col-sm-12">
			<img src="./img/gallery/philfest2017.jpg">
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 col-sm-12">
			<img src="./img/gallery/ball2017.jpg">
		</div>
		<div class="col-md-4 col-sm-12">
			<img src="./img/gallery/barryjenkins.jpg">
		</div>
		<div class="col-md-4">
			<img src="./img/gallery/sambee.jpg">
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<img src="./img/gallery/benefit2017.jpg">
		</div>
		<div class="col-md-4">
			<img src="./img/gallery/blowout2016.jpg">
		</div>
		<!-- <div class="col-md-4">
			<img src="./img/gallery/transparent.png">
		</div> -->
	</div>
</template>
