body {
    background: @color-background;
}

* {
    color: @color-text;
}

.selected-item {
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    border: 6px solid magenta;
}

.deselected-item {
    -webkit-filter: grayscale(100%);
    -webkit-transition: .25s ease-in-out;
    -moz-filter: grayscale(100%);
    -moz-transition: .25s ease-in-out;
    -o-filter: grayscale(100%);
    -o-transition: .25s ease-in-out;
    filter: grayscale(100%);
    border: none;
}

.AO-type-input {
    width: auto;
}
