body {
    background: @color-background;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url('./img/gallery/transparent.png');
}

* {
    color: @color-text;
}

.selected-item {
    -webkit-filter: grayscale(0);
    -webkit-transition: .125s ease-in-out;
    -moz-filter: grayscale(0);
    -moz-transition: .125s ease-in-out;
    -o-filter: grayscale(0);
    -o-transition: .125s ease-in-out;
    -webkit-backface-visibility: hidden;
    filter: grayscale(0);
    border: 6px solid magenta;
}

.deselected-item {
    -webkit-filter: grayscale(100%);
    -webkit-transition: .125s ease-in-out;
    -moz-filter: grayscale(100%);
    -moz-transition: .125s ease-in-out;
    -o-filter: grayscale(100%);
    -o-transition: .125s ease-in-out;
    -webkit-backface-visibility: hidden;
    filter: grayscale(100%);
    border: none;
}

.poll-group {
    margin: 40px 0;
}
